<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" android-packageName="com.quizez" id="com.quizez" version="1.0.0">
  <name>Paid quizes</name>
  <description>
    Paid quizes list with segmentation and push notifications.
  </description>
  <author email="gpoi@mail.ru" href="https://vk.com/gregp">
   Plyusch Gregory
  </author>
  <hook type="before_prepare" src="before_prepare.js" />
  <plugin name="cordova-plugin-inappbrowser" />
  <plugin name="cordova-plugin-fcm" />
  <plugin name="cordova-plugin-dialogs " />
  <access origin="*" />
  <allow-intent href="http://*/*" />
</widget>